
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Hachi+Maru+Pop&family=Monoton&family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap');
#portada{
    
    height: 100vh;
}
#portada p{
    font-size: 1em;
    color: lightpink;
    font-family: 'Roboto', cursive;
}
#portada h1{
    font-family: 'Permanent Marker', cursive;
}
#acerca-de-mi{
    background-color: lightslategray;
}

#proyectos{
    background-color: rgb(65, 225, 177);
}
.fab{
    font-size: 9em;
    margin: 30px;
}
.fa-html5{
    color: orangered;
}
.fa-css3-alt{
    color:blue;
}
.fa-js{
    color:lightgreen;
}
#contacto{
    background-color: black;
    padding: 20px;

}
